body {
    margin: 0;
    padding: 0;
}

nav {
    height: 54px;
    border-bottom: 1px solid #dbdbdb;
}
p {
    margin-bottom: 0;
    font-size: 16px;
}
.logotype {
    padding-top: 12px;
}

.nav-top {
    height: 54px;
    align-items: center;
}

.container-icon {
    &-pad {
        padding-right: 15px;
    }
}

.form-search {
    input {
        background: #fafafa;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
        background-image: url(./img/search.svg);
        background-repeat: no-repeat;
        background-position: 25% 50%;
        padding-right: 5px;
    }
}

main {
    background-color: #fafafa;
    .logo-profile {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }
    .header-block-content__title {
        font-weight: 300;
        font-size: 28px;
    }

    .click {
        padding: 5px 10px 5px 10px;
        margin-top: -7px;
        font-weight: 650;
        font-size: 13px;
    }
    .down {
        margin-top: -10px;
    }
}

.header-block {
    padding-top: 30px;
    .content {
        padding-left: 80px;
        padding-top: 20px;
    }
}

.content-subtitle {
    flex-direction: column;
    p {
        margin-bottom: 0;
    }
}
.content-follow {
    padding-top: 10px;
}
.content-follow_subtitle {
    padding-right: 35px;
}

.btn-primary {
    max-width: 97px;
    height: 29px;
    margin-bottom: 0.5rem;
}
.btn {
    margin-right: 10px;
}
.header-block-content__title {
    margin-right: 15px;
}
.content-link {
    &_suit {
        b {
            text-decoration: none;
            color: #00376b;
        }
    }
}

.article,
.stories {
    padding-top: 56px;
    .row {
        margin-left: 150px;
    }
    .stories-subtitle {
        padding-top: 10px;
    }
}
.cursor-stories {
    max-width: 79px;
    max-height: 79px;
    border-radius: 50%;
    border: 2px solid #dbdbdb;
    box-sizing: border-box;
}
.stories-block {
    margin-right: 35px;
}

.photo {
    margin-top: 55px;
    &-menu {
        justify-content: center;
        border-top: 1px solid #dbdbdb;
        max-width: 1140px;
        display: flex;
        &_stack {
            padding-left: 30px;
            display: flex;
            &-left {
                padding-right: 10px;
                vertical-align: baseline;
            }
            p {
                &:active {
                    border-top: 1px solid #000000;
                }
                margin: 0;
                a {
                    color: black;
                    font-size: 12px;
                    text-decoration: none;
                }
            }
        }
        &_stacks {
            padding-left: 50px;
            display: flex;
            &-right {
                padding-right: 10px;
            }
            p {
                margin: 0;
                a {
                    color: black;
                    font-size: 12px;
                    text-decoration: none;
                }
                &:active {
                    border-top: 1px solid #000000;
                }
            }
        }
    }
    .container {
        padding-top: 20px;

        .row {
            margin-bottom: 15px;
            justify-content: center;
            padding-left: 80px;
            padding-right: 80px;
            .photo-content {
                padding-right: 1px;

                &_img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .nav {
    }
    .form-search {
        display: none;
    }
    main .logo-profile {
        margin-left: 175px;
    }

    .stories .row {
        justify-content: center;
        margin: 0;
    }
    .photo .container .row {
        padding-left: 40px;
        padding-right: 40px;
    }
    .photo .container .row .photo-content_img {
        padding-bottom: 15px;
    }
}
@media (max-width: 540px) {
    .nav {
    }
    main .logo-profile {
        max-width: 50%;
        margin-left: 108px;
    }
    .container-icon-pad {
        padding-right: 5px;
    }
    .header-block .content {
        padding-left: 50px;
    }
    .stories .row {
        justify-content: flex-start;
    }
    .photo .container .row .photo-content_img {
        padding-bottom: 15px;
    }
}
