body {
  margin: 0;
  padding: 0;
}

nav {
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
}

p {
  margin-bottom: 0;
  font-size: 16px;
}

.logotype {
  padding-top: 12px;
}

.nav-top {
  height: 54px;
  align-items: center;
}

.container-icon-pad {
  padding-right: 15px;
}

.form-search input {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  background-image: url(./img/search.svg);
  background-repeat: no-repeat;
  background-position: 20% 50%;
  padding-right: 0px;
}

main {
  background-color: #fafafa;
}
main .logo-profile {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
main .header-block-content__title {
  font-weight: 300;
  font-size: 28px;
}
main .click {
  width: 97px;
  height: 29px;
  font-weight: 650;
  font-size: 13px;
}
main .down {
  margin-top: -10px;
}

.header-block {
  padding-top: 30px;
}
.header-block .content {
  padding-left: 80px;
  padding-top: 20px;
}

.content-subtitle {
  flex-direction: column;
}
.content-subtitle p {
  margin-bottom: 0;
}

.content-follow {
  padding-top: 10px;
}

.content-follow_subtitle {
  padding-right: 35px;
}

.btn-primary {
  max-width: 97px;
  height: 29px;
  margin-bottom: 0.5rem;
}

.btn {
  margin-right: 10px;
}

.header-block-content__title {
  margin-right: 15px;
}

.content-link_suit b {
  text-decoration: none;
  color: #00376b;
}

.article,
.stories {
  padding-top: 56px;
}
.article .row,
.stories .row {
  margin-left: 150px;
}
.article .stories-subtitle,
.stories .stories-subtitle {
  padding-top: 10px;
}

.cursor-stories {
  max-width: 79px;
  max-height: 79px;
  border-radius: 50%;
  border: 2px solid #dbdbdb;
  box-sizing: border-box;
}

.stories-block {
  margin-right: 35px;
}

.photo {
  margin-top: 55px;
}
.photo-menu {
  justify-content: center;
  border-top: 1px solid #dbdbdb;
  max-width: 1140px;
  display: flex;
}
.photo-menu_stack {
  padding-left: 30px;
  display: flex;
}
.photo-menu_stack-left {
  padding-right: 10px;
  vertical-align: baseline;
}
.photo-menu_stack p {
  margin: 0;
}
.photo-menu_stack p:active {
  border-top: 1px solid #000000;
}
.photo-menu_stack p a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}
.photo-menu_stacks {
  padding-left: 50px;
  display: flex;
}
.photo-menu_stacks-right {
  padding-right: 10px;
}
.photo-menu_stacks p {
  margin: 0;
}
.photo-menu_stacks p a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}
.photo-menu_stacks p:active {
  border-top: 1px solid #000000;
}
.photo .container {
  padding-top: 20px;
}
.photo .container .row {
  margin-bottom: 15px;
  justify-content: center;
}
.photo .container .row .photo-content {
  padding-right: 1px;
}
.photo .container .row .photo-content_img {
  width: 100%;
}

.content-title {
  padding: 10px;
}

@media (max-width: 991.98px) {
  .article .row,
  .stories .row {
    margin-left: 50px;
  }

  .form-search input {
    background-position: 20% 50%;
  }
}
@media (max-width: 767.98px) {
  .form-search {
    display: none;
  }

  main .logo-profile {
    margin-left: 0px;
  }

  .stories .row {
    justify-content: center;
    margin: 0;
  }

  .photo .container .row {
    padding-left: 40px;
    padding-right: 40px;
  }

  .photo .container .row .photo-content_img {
    padding-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  main .logo-profile {
    max-width: 50%;
  }

  .container-icon-pad {
    padding-right: 0px;
  }

  .header-block .content {
    display: grid;
    justify-content: center;
    padding: 0;
  }

  .photo .container .row .photo-content_img {
    padding-bottom: 15px;
  }

  .content .content-title {
    display: flow-root;
  }
  .content .content-follow .content-follow_subtitle {
    padding-right: 6px;
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
